<!-- <div  class="linear-gradient" style="text-align: center;"> -->
<!-- <h1>{{ title }}</h1> -->
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map> -->

<!-- <ul>
    <ng-container *ngFor="let lugar of lugares">
      <li *ngIf="lugar.edad >= 18">{{ lugar.nombre }}</li>
    </ng-container>
  </ul> -->

<!-- <ul>
    <ng-container *ngFor="let lugar of lugares" [ngSwitch]="lugar.cercania">
      <li
        [ngStyle]="{ color: lugar.active ? 'green' : 'red' }"
        [ngClass]="{ disableUser: !lugar.active }"
      >
        {{ lugar.nombre }} -
       <span *ngSwitchCase="1">
          Muy lejano
      </span>
      <span *ngSwitchCase="2">
        Cercano
      </span>
      <span *ngSwitchCase="3">
        Lejano
      </span>
      </li>
    </ng-container>
  </ul> -->
<!-- </div> -->

<div class="containerHome text-center">
  <div class="linear-gradient">
    <div class="name">
      <h1
        style="
     font-size: 56px;
     font-weight: 100;
  "
      >
        ANTHONY
      </h1>
      <h1
        style="
     font-size: 120px;
     font-weight: 100;
  "
      >
        JUAREZ
      </h1>

      <!-- <div> -->
          <p class="information mt-5 pt-5">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://www.linkedin.com/in/anthonyjuarez/" target="_blank" style="color:#FFF; text-decoration: none;">LinkedIn</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.facebook.com/AnthonyGrimaldoJuarezSolis" target="_blank" style="color:#FFF; text-decoration: none;">Facebook</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.instagram.com/anthonyjuarezsolis/" target="_blank" style="color:#FFF; text-decoration: none;">Instagram</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="mailto:anthonyjuarezsolis@gmail.com" target="_blank" style="color:#FFF; text-decoration: none;">Mail</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="tel:935349924" target="_blank" style="color:#FFF; text-decoration: none;">Contact</a>
          </p>
        <!-- </div> -->

    </div>
  </div>
</div>
